@import "../config.less";

.shade(@key, @value, @counter) when (@counter > 0) {
  .shade(@key, @value, (@counter - 10));
  .@{key}-shade-@{counter} {
      color: shade(@value, @counter);
  }
}

.tint(@key, @value, @counter) when (@counter > 0) {
  .tint(@key, @value, (@counter - 10));
  .@{key}-tint-@{counter} {
      color: tint(@value, @counter);
  }
}

.make-classes(@c, @n) {
  .loop(@i) when (@i > 0) {
    .loop((@i - 1));    // next iteration
    @key:   extract(@n, @i);
    @value: extract(@c, @i);
    .@{key} {
        color: @value;
    }
    .shade(@key, @value, 90);
    .tint(@key, @value, 90);
  }
  .loop(length(@c));
}

.make-classes(@colors, @names);
