@import "../config.less";

.shade(@key, @value, @counter) when (@counter > 0) {
  .shade(@key, @value, (@counter - 10));
  .@{key}-shade-@{counter} {
      color: shade(@value, @counter);
  }
}

.bg-shade(@key, @value, @counter) when (@counter > 0) {
  .bg-shade(@key, @value, (@counter - 10));
  .bg-@{key}-shade-@{counter} {
      background-color: shade(@value, @counter);
  }
}

.b--shade(@key, @value, @counter) when (@counter > 0) {
  .b--shade(@key, @value, (@counter - 10));
  .b--@{key}-shade-@{counter} {
      border-color: shade(@value, @counter);
  }
}

.tint(@key, @value, @counter) when (@counter > 0) {
  .tint(@key, @value, (@counter - 10));
  .@{key}-tint-@{counter} {
      color: tint(@value, @counter);
  }
}

.bg-tint(@key, @value, @counter) when (@counter > 0) {
  .bg-tint(@key, @value, (@counter - 10));
  .bg-@{key}-tint-@{counter} {
      background-color: tint(@value, @counter);
  }
}

.b--tint(@key, @value, @counter) when (@counter > 0) {
  .b--tint(@key, @value, (@counter - 10));
  .b--@{key}-tint-@{counter} {
      border-color: tint(@value, @counter);
  }
}

.make-classes(@c, @n) {
  .loop(@i) when (@i > 0) {
    .loop((@i - 1));    // next iteration
    @key:   extract(@n, @i);
    @value: extract(@c, @i);
    .@{key} {
        color: @value;
    }
    .shade(@key, @value, 90);
    .tint(@key, @value, 90);
    .b--@{key} {
        border-color: @value;
    }
    .b--shade(@key, @value, 90);
    .b--tint(@key, @value, 90);
    .bg-@{key} {
        border-color: @value;
    }
    .bg-shade(@key, @value, 90);
    .bg-tint(@key, @value, 90);
  }
  .loop(length(@c));
}

.make-classes(@colors, @names);
